<div class="container infomation-edit">
	<div class="row">

		<%= form_for(@infomation, url:stores_infomation_path) do |f| %>
			<h2>投稿編集ページ</h2>

				<div class="infomation-edit-image">
					<%= f.attachment_field :info_image %>
				</div>

				<div class="infomation-edit-introduct">
					<%= f.text_area :introduction, class: "col-xs-6" %>
				</div>

				<div class="infomation-edit-submit">
					<%= f.submit "変更を保存", class: "btn btn-primary" %>
				</div>


		<% end %>


	</div>
</div>