<div class="container about">
	<div class="row">

		<h1>MAKETOKOとは</h1>
  		<div class="about-image">
  			<p><img src="<%= asset_path "logo.jpg" %>" alt="ロゴ画像" align="left">
  				MAKETOKOは市場を意味するMarketと関西の方言で、安くする意味の「まけとこ」を組み合わせた造語です。<br>
  				大阪の小売店と消費者をつなぐSNSを目指して制作しました。<br>
  				日々の営業でお買い得情報を発信したい小売店様。<br>
  				日々の生活でお買い得情報を収集したい消費者様。<br>
  				ぜひとも、本アプリをご利用くださいませ。<br>
  			</p>
　		</div>

	</div>
</div>