<div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>エリア検索</th>
      </tr>
    </thead>
    <tbody>
      <% areas.each do |area| %>
        <tr>
          <td><%= link_to area.area_name, controller: "stores", area_id: area.id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
