/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
 padding-top: 70px;
}

.navbar {
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.navbar-left {
  margin-top: 20px;
}

header {
  border: 3px solid black;
  background-color: #009e9f;
}

.header-link {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: white;
}

.Logo {
  font-size: 40px;
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 30px;
  background-color: white;
}

.Logolink {
	text-decoration: none;
	color: black;
}

////////// store_send
/////send-index

.store-index {
  margin-top: 60px;
}

.send-top-image {
  margin-left: 40px;
}

.store_send-index {
  margin-top: 40px;
  border-top: 1px solid black;
}

.store-index-title {
  margin-bottom: 20px;
}

.side-bar {
  background-color: #009e9f;
}

.store-sends {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.store_send_top {
  margin: 20px;
  background-color: #25b7c0;
  padding: 5px;
  }

.store_send_bottom {
  margin: 20px;
}


/////send-show

.send-show {
  margin-top: 60px;
}

.send-show-top {
  margin: 20px;
  background-color: #25b7c0;
  padding: 5px;
}

/////send-new

.send-new {
  margin-top: 60px;
  margin-bottom: 40px;
}

.send-new-image {
  margin-top: 30px;
}

.send-new-comment {
  margin-top: 30px;
}

.send-new-submit {
  margin-top: 20px;
}

/////send-edit
.send-edit {
  margin-top: 60px;
}

.send-edit-image {
  margin-top: 20px;
}

.send-edit-comment {
  margin-top: 30px;
}

.send-edit-submit {
  margin-top: 30px;
}


