/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
 padding-top: 70px;
}

.navbar {
  padding-bottom: 10px;
  border-bottom: 3px solid black;
}

.navbar-left {
  margin-top: 10px;
}

header {
  border: 3px solid black;
  background-color: #009e9f;
}

.header-link {
  border: 1px solid black;
  border-radius: 5px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: white;
}


.Logo {
  font-size: 30px;
  border: 1px solid black;
  border-radius: 5px;
  margin-left: 10px;
  background-color: white;
  padding: 5px;
}

.Logolink {
  text-decoration: none;
  color: black;
}

.password-edit {
  margin-top: 40px;
  margin-left: 150px;
}

.password-edit-submit {
  margin-top: 20px;
}

.random-store {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

//////////sign_up sign_in
/////sign_in_store
.store_sign_in {
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.store_sign_in_box {
  margin-top: 10px;
}

.store_sign_in_btn {
  margin-top: 10px;
}

/////store_sign_up
.sign_up {
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.sign_up_box {
  margin-top: 10px;
}

/////user_sign_in
.user_sign_in {
  margin-left: 130px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user_sign_in_box {
  margin-top: 10px;
}

.store_sign_in_btn {
  margin-top: 10px;
}

/////////////////////////storeside
//////////store-mypage
/////store-show
.store-show {
  margin-top: 40px;
}

.store-show-btn {
  margin-top: 20px;
}

.store-show-image {
  margin-top: 20px;
  margin-bottom: 30px;
}

/////store-edit
.store-edit {
  margin-top: 40px;
}

.store-edit-image {
  margin-top: 20px;
  margin-bottom: 20px;
}

.store-edit-image2 {
  margin-top: 10px;
  margin-bottom: 20px;
}

/////store-unsubscribe
.store-unsubscribe {
  margin-top: 40px;
}

////////// store_send
/////send-index

.store-index {
  margin-top: 40px;
}

.store-index-info {
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

.send-top-image {
  margin-left: 40px;
  margin: 0 auto;
}

.store-index-infomation h5 {
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}

.store-index-infomation p {
  border-bottom: 1px solid black;
}

.store_send-index {
  margin-top: 20px;
}


.store-index-title {
  margin-bottom: 20px;
}

.side-bar {
  background-color: #ffe9a9;
  padding: 20px;
  border-radius: 5px;
}

.store-sidebar-sends {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
}

.store-sidebar-sends h4 {
  background-color: #f19ca7;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px;
  text-align: center;
}

.side-bar-image {
  text-align: center;
}

.store-sidebar-sends p {
  margin-top: 10px;
}

.store-sends {
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.store_send_top {
  margin: 20px;
  background-color: #25b7c0;
  padding: 5px;
  border-radius: 5px;
  }

.store_send_bottom {
  margin: 20px;
  display: flex;
}

.store-send-bottom-insite h4 {
  margin-left: 20px;
  font-weight: bold;
}

.store-send-bottom-insite p {
  margin-left: 10px;
}

.store_send_edit {
  margin-left: 10px;
}

.store_send_create {
  text-align: right;
  margin-right: 10px;
}

/////send-show

.send-show {
  margin-top: 60px;
}

.send-show-top {
  margin: 20px;
  background-color: #25b7c0;
  padding: 5px;
}

.send-show-bottom {
  margin-left: 20px;
  display: flex;
}

.send-show-bottom-right {
  margin-left: 20px;
}

.send-show-bottom-right h4 {
  font-weight: bold;
}

.show-send-date {
  margin-left: 20px;
}

.send-show-edit {
  margin-left: 20px;
}

/////send-new

.send-new {
  margin-top: 60px;
  margin-bottom: 40px;
}

.send-new-title {
  background-color: #25b7c0;
  padding: 5px;
}

.send-new-image {
  margin-top: 30px;
  margin-left: 5px;
}

.store_send-new-title {
margin-top:10px;
  margin-left: 5px;
}

.send-new-comment {
  margin-top: 30px;
  margin-left: 5px;
}

.send-new-submit {
  margin-top: 20px;
  margin-left: 5px;
}

/////send-edit
.send-edit {
  margin-top: 60px;
}

.send-edit-title {
  background-color: #25b7c0;
  padding: 5px;
}

.send-edit-image {
  margin-top: 20px;
}

.send-edit-comment {
  margin-top: 30px;
}

.send-edit-submit {
  margin-top: 30px;
}

//////////infomation
/////infomation-new
.infomation-new {
  margin-top: 40px;
}

.infomation-top {
  background-color: #25b7c0;
  padding: 5px;
}


.infomation-new-title {
  margin-left: 5px;
  margin-top: 10px;
}

.infomation-new-image {
  margin-left: 5px;
  margin-top: 10px;
}

.infomation-new-introduct {
  margin-left: 5px;
  margin-top: 10px;
}

.infomation-new-submit {
  margin-left: 5px;
  margin-top: 10px;
}

/////infomation-show
.infomation-show {
  margin-top: 40px;
}

.infomation-show-title {
  margin-left: 5px;
  margin-top: 10px;
}

.infomation-show-image {
  margin-left: 5px;
  margin-top: 10px;
}

.infomation-show-introduct {
  margin-left: 5px;
  margin-top: 10px;
}

.infomation-show-edit {
  margin-left: 5px;
  margin-top: 20px;
}

/////infomation-edit
.infomation-edit {
  margin-top: 40px;
}

.infomation-edit-image {
  margin-left: 5px;
  margin-top: 10px;
}

.infomation-edit-introduct {
  margin-left: 5px;
  margin-top: 10px;
}
.infomation-edit-submit {
  margin-left: 5px;
  margin-top: 10px;
}

/////////////////////////userside
//////////user-mypage
/////user-show
.user-mypage {
  margin-top: 40px;
}

.user-mypage-link {
  margin-top: 20px;
  margin-bottom: 20px;
}

/////user-mypage-edit
.user-mypage-edit{
  margin-top: 40px;
}

/////user-mypage-unsubscribe
.user-mypage-unsubscribe{
  margin-top: 40px;
}

.user-mypage-unsubscribe h3 {
  margin-bottom: 20px;
}


//////////user-store
/////user-store-show
.user-store-index {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 5px;
  padding: 20px;
}

/////timeline


.timeline-follow-box {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

.timeline-follow-box p {
  float: right;
}

